@model Best_Shop_Doors.Models.OZakaze

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OZakaze</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ZakazID" class="control-label"></label>
                <select asp-for="ZakazID" class="form-control" asp-items="ViewBag.ZakazID"></select>
                <span asp-validation-for="ZakazID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoorID" class="control-label"></label>
                <select asp-for="DoorID" class="form-control" asp-items="ViewBag.DoorID"></select>
                <span asp-validation-for="DoorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kolich" class="control-label"></label>
                <input asp-for="Kolich" class="form-control" />
                <span asp-validation-for="Kolich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
